@import "tailwindcss";

.active{
    color: blue;
    border-bottom: 2px solid blue;
}
.btn {
  display: inline-block;
  padding: 12px 30px;
  background: linear-gradient(135deg, #ffd200, #fe0b00);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  text-decoration: none;
  box-shadow: 0 2px 10px #ffd00054;
}
.btn:hover {
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
}
.btn-outline {
  background: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
}

.btn-outline:hover {
  background: #ff0000;
  color: white;
}
