.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #fe0b00;
  padding-top: 20px;
  padding-left: 30px;
  font-weight: 700;
}
.container-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.section {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Responsive Styles */
@media (max-width: 1200px) {
  .container-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
  }

  .section{
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 992px) {
    .section{
    height: 220px;
    width: 220px;
  }
  .container-main{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}

/* Tablet and Mobile Fixes */
@media (max-width: 768px) {
    .container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
}

/* Mobile Small Screens */
@media (max-width: 576px) {
}
